body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.title-container{
    display: flex;
    background: #555C60;
    color: white;
    font-family: Arial;
    justify-content:space-between;
    gap: 2rem;
    align-items: center;
    padding: 0px 20px;
}

.SBlogo {
    height: 50px;
    width: auto;
    padding-right: 50px;
}

.themeToggle {
    background-color: #939393;
    color: #fff;
    border: none;
    padding: 10px 1px;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}

label{
    color:white;
}

.globalStats {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #212425;
    color: #f2f2f2;
}

th a.hiddenlink {
    color: inherit;
    text-decoration: none;
}

th.username {
    text-align: left;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
}

tr {
   color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #4A5053;
}

tr:nth-child(odd) {
    background-color: #393E40;
}

a:visited {
    color: #d0d0d0;
}

a {
    color: #fcfcfc;
}

.attribution{
    text-align:center;
    margin-bottom:10px;
    color: #a3a3a3;
    font-size: 12px;
}

@media (max-width: 768px) {

    th, td {
        padding: 5px;
        font-size: 12px;
    }
    th a.hiddenlink {
        font-size: 12px;
    }
    th.username {
        white-space: normal; /* Allow line breaks for usernames */
        overflow: visible;
        text-overflow: initial;
    }
    .attribution{
        font-size: 10px;
    }
}